@media (min-width: 320px) and (max-width: 479px) {
  .header-menu ul {
    display: none;
  }

  .header-logo img {
    width: 220px;
  }

  .content {
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  h2 {
    font-size: 16px;
    text-align: center;
  }

  .footer ul {
    display: none;
  }

  .footer {
    justify-content: center;
  }
}



/****** codigo de Diego******/ 

@media screen and (max-width: 1000px) {
  .header  {
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
  }

  .header .btn-menu {
    display: block;
  }


  .header .header-menu {
    width: 100%;
    z-index: 1000;
  }

  .header .header-menu ul {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #9acb34;

  }

  .header .header-menu ul {
    padding-left: 25px;
    line-height: 80px;
    position: absolute;
    transform: translateX(-100%);
    transition: all .5s ease;
  }

  .header .header-menu ul li {
    width: 90%;
    border-bottom: 1px solid #fff;
  }

  #bottom:checked ~ .header-menu ul {
    transform: translateX(0);
  }

  


}

